* {
    box-sizing: border box;
    text-align: center;
}

html {
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-weight: auto;
    background-color: aliceblue;
}

title {
    font-size: 40px;
}

.option-styling {
    background-color: rgb(94, 34, 94);
    color: white;
    width: 250px;
    height: 50px;
    font-size: 20px;
    font-style: bold;
    margin: 10px;
}

.nextBtn-styling {
    background-color: yellow;
    width: 250px;
    height: 50px;
    font-size: 20px;
    font-style: bold;
    margin: 10px;
}

.initials-styling {
    background-color: white;
    border: bold, 2px, black;
}