* {
    box-sizing: border box;
    text-align: center;
}

html {
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-weight: auto;
    background-color: aliceblue;
}

.option-styling {
    background-color: rgb(81, 160, 199);
    width: 250px;
    height: 50px;
    font-size: 20px;
    font-style: bold;
    margin: 10px;
}